.card {
    border: 3px solid #000;
    border-radius: 10px;
    background-color: #f0f0f0;
    padding-top: 15px;
    width: 350px;
    overflow: hidden;
    margin: 0 auto;
}

.profilePicture {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #2a2d32;
}

.profileName {
    font-size: 26px;
    color: #000;
    font-weight: 700;
    margin: 10px 0 5px;
}

.userContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userInformation {
    color: #787878;
    font-size: 18px;
}

.list {
    width: 100%;
    display: flex;
    margin-top: 15px;
}

.listItem {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c0c0c0;
    outline: 3px solid #a0a0a0;
    padding: 10px;
}

.itemElement {
    color: #000;
    font-size: 18px;
}

.additional {
    font-weight: 700;
}